<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph Page</title>
</head>
<body>
    <h1>Graph Page</h1>
    <div>
        <!-- Display the bar graph using the plot_url -->
        <img src="data:image/png;base64,{{ plot_url }}" alt="Simple Bar Graph">
    </div>
    <br>
    <h1>Cardioid Plot</h1>
    <div>
        <!-- Display the  graph using the url -->
        <img src="data:image/png;base64,{{ plot_url1 }}" alt="Cardoid Plot">
    </div>
    <!-- Button to navigate back to the main page -->
    <br>
    <a href="{{ url_for('index') }}"><button>Back to Main Page</button></a>
</body>
</html>